.Megamenu {
    background-color: #0078d7;
    color: white;
    .cell {
        display: 'inline-block';
        a {
            text-decoration: none;
            color: white;
        }
    }
    .container {
        width: 120;
    }
    .toogleButton {
        text-align: center;
    }
}