.Megamenu {
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    .headerLinkContainer {
        display: flex;
        .headerLink {
            padding: 5px;
            flex-grow: 1;
            display: 'inline-block';
            .headerLinkLabel {
                font-weight: 700;
                @media (max-width: 800px) {
                    text-transform: uppercase;
                    text-decoration: underline;
                }
            }
            @media (max-width: 800px) {
                border-bottom: 1px solid white;
                padding-bottom: 10px;
                margin-bottom: 10px;
                display: 'block';
            }
        }
        @media (max-width: 800px) {
            display: 'block';
        }
    }
    .link {
        padding-top: 5px;
    }
    .container {
        padding: 5px 0px 15px 20px;
    }
    .toogleButton {
        background-color: blue;
        text-align: center;
        cursor: pointer;
        button {
            color: white;
            i {
                color: white;
            }
        }
    }
}