.Megamenu {
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    .headerLinkContainer {
        display: flex;
        .headerLink {
            padding: 5px;
            flex-grow: 1;
            display: 'inline-block';
            .headerLinkLabel {
                font-weight: bold;
            }
        }
        @media (max-width: 500px) {
            display: 'block';
        }
    }
    .link {
        padding-top: 5px;
    }
    .container {
        padding: 5px 0px 15px 20px;
    }
    .toogleButton {
        background-color: #00B294;
        text-align: center;
        cursor: pointer;
        button {
            color: white;
            i {
                color: white;
            }
        }
    }
}